/attachment/.ipynb_checkpoints/Compute_Hjorth-checkpoint.ipynb
/attachment/.ipynb_checkpoints/Results_te-checkpoint.ipynb
/attachment/.ipynb_checkpoints/Setup-checkpoint.ipynb
/attachment/.ipynb_checkpoints/preprocessing-checkpoint.ipynb
/attachment/Raw
/attachment/Results_dev.ipynb
/attachment/Untitled.ipynb
/attachment/df_hjorth.csv
/attachment/requirements.txt
/attachment/uninst.txt
/attachment/preprocessed_data/
/attachment/__pycache__/
/attachment/.ipynb_checkpoints/Checking_saved_data-checkpoint.ipynb
/attachment/preprocessed_data
/uninst.txt
